.selector1
    {
    color:red;
    background-color:yellow;
    }
.selector2
    {
    color:blue;
    background-color:lightgreen;
    }
p   
 {
 color:green;
 background-color:pink;
 }
h1
 {
 color:red;
 background-color:blue;
 } 
